.navbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-width: 300px;
  background-color: #1a2750;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: visible;
}

.navbar-logo {
  position: absolute;
  left: -35px;
  top: -15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.logo-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px; /* Increased gap for better spacing */
}

.icon {
  color: #ccc;
  font-size: 40px; /* Increased font size for more prominence */
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
  padding: 10px; /* Adjusted padding for better click area */
  border-radius: 50%;
}

.icon:hover {
  transform: scale(1.2) translateY(-2px); /* Increased scale for a bolder hover effect */
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.active-icon {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
