.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.feed-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 15px;
}

.MuiDrawer-paper {
  background-color: #fff;
  box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.1);
}
